.karir-section{
    height: auto;
}
.post-card{
    height: auto;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
}
.collapse-option{
    display: flex;
    justify-content: space-between;
}